.hero-section {
    height:82.5vh;
    background: #11A64A;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-link a{
    color: #000;
}

.nav-item .nav-link{
    margin-right: 1.5rem;
    color: #000;
}

/*tab css*/

.nav-tabs {
    border-bottom: 2px solid rgba(108, 117, 125, .2);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #11a64a;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs li a.active {
    border-bottom: 2px solid #11A64A !important;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs li a {
    border-color: transparent !important;
    padding: 0.625rem1.25rem;
}

.nav-tabs .nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

/* end tab css*/

form {
    display: inline-block;
    margin: 0 auto;
}

.pseudo-search {
    display: inline;
    border: 2px solid #ccc;
    border-radius: 100px;
    padding: 10px 15px;
    transition: background-color 0.5 ease-in-out;
}

.pseudo-search input {
    border: 0;
    background-color: transparent;
    width: 315px;
}

.pseudo-search input:focus {
    outline: none;
}

.pseudo-search button,
.pseudo-search i {
    border: none;
    background: none;
    cursor: pointer;
}

.pseudo-search select {
    border: none;
}

.form-search-btn {
    margin-top: 30px;
    width: 105px;
    border: 1px solid #11a64a;
    background: #11a64a;
    color: #fff;
    padding: 4px 25px;
    border-radius: 25px;
}

/* Shine */
    .hero-bottom {
        background: #056336;
        height: 60px;
        text-align: center;
        color: #fff;
        line-height: 60px;
    }
    .hero-bottom p{
        font-size: 20px;
        font-weight: 500;
    }
  .shine {
    font-size: 3em;
    margin: 0 auto;
    margin-bottom: 1em;
    font-weight: bold;
  }
  
  .hero-bottom .shine {
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
  }
  
  @-webkit-keyframes shine {
    0%, 10% {
      background-position: -1000px;
    }
    20% {
      background-position: top left;
    }
    90% {
      background-position: top right;
    }
    100% {
      background-position: 1000px;
    }
  }


/*payment section css*/
.divide-div {
    height: 80vh;
    margin: 100px 0px;
}

.divide-div .objective {
    background: #11A64A;
    border-radius: 25px;
    height: 80vh;
    /* align-items: center; */
}

.divide-div .objective-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
    color: #fff;
}

.objective-desc {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
}

.divide-div .learn-more-title {
    position: absolute;
    left: 70px;
    bottom: 90px;
    color: #fff;
}


.hero-bottom p {
    color: #fff;

}
.payment-lock {
    background: #ffffff;
    padding: 20px;
    border-radius: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-section {
    text-align: center;
    background: #fff;

}
.carousel-section {
    height: 80vh;
    background: #F6F6F6;
}

.carousel-section p {
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
    color: #000;
    text-align: center;
}


.carousel-section .container {
    overflow: hidden;
}

.first-slide .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
}

.first-slide .slider .logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
}

.first-slide .slider .logos .fab {
    width: calc(100% / 5);
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.second-slide .slider {
    animation: slidein 23s linear infinite;
    white-space: nowrap;
}

.second-slide .slider .logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
}

.second-slide .slider .logos .fab {
    width: calc(100% / 5);
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide-bg {
    background: #fff;
    padding: 13px 45px;
    /*margin: 0 20px;*/
    display: inline-block;
    border-radius: 10px;
    margin-right: 60px;
}

.project-management-section .row {
    background: #1774FF;

}

.project-management-section .project-management-right-section {
    background: #175CC3;
    border-radius: 30px;
}

.varified-agencies-left-section {
    background: #056336;
    border-radius: 30px;

}

/*Testimonial*/

.post-project-section {
    margin-bottom: 50px;
}

.pp-content p {
    font-size: 18px;
    color: #11A64A;
    margin-top: 20px;

}
.pp-content h2 {
    font-weight: 600;
    font-size: 2.75rem;
}

.post-project-section .img-fluid {
    border-radius: 10px;
}

.post-project-section .solid-btn {
    display: inline-block;
}

.client-says {
    font-size: 18px;
    color: #11A64A;
    margin-top: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}
.client-name{
    font-size: 24px;
    font-weight: 600;
}

.testimonial-section .img-fluid {
    border-radius: 10px;
}

/* Responsive */

@media only screen and (max-width: 600px) {
    .pseudo-search input {
        width: 215px;
    }
    .hero-bottom p{
        font-size: 16px;
    }
    .divide-div{
        height: auto;
    }
    .divide-div .objective{
        height: auto;
    }
    .divide-div .objective-title{
        margin-top: 0;
        font-size: 36px;
    }
    .divide-div .learn-more-title{
        bottom: 0;
        padding-bottom: 20px;
    }

    .carousel-section {
        height: auto;
        padding-bottom: 30px;
    }

    .carousel-section .slide-bg {
        padding: 13px 35px;
    }

    .carousel-section img {
        width: 40px;
    }

    .carousel-section .section-title {
        font-size: 28px;
    }

    .pp-content h2 {
        font-size: 1.25rem;
    }


/*     .divide-div .objective-title {
        font-size: 30px;
        font-weight: 700;
        margin-top: 50px;
        width: auto;
    }

    .divide-div {
        height: auto;
        margin: 110px 0px;
    }


    .divide-div .learn-more-title {
        bottom: 10px;
    }

    .carousel-section {
        height: auto;
        padding-bottom: 30px;
    }

    .carousel-section .slide-bg {
        padding: 13px 35px;
    }

    .carousel-section img {
        width: 40px;
    }

    .carousel-section h2 {
        font-size: 19px;
    }
 */

}