.hero-section {
    height:82.5vh;
    background: #11A64A;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-link a{
    color: #000;
}

.nav-item .nav-link{
    margin-right: 1.5rem;
    color: #000;
}

/*tab css*/

.nav-tabs {
    border-bottom: 2px solid rgba(108, 117, 125, .2);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #11a64a;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs li a.active {
    border-bottom: 4px solid #11A64A !important;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs li a {
    border-color: transparent !important;
    padding: 0.625rem1.25rem;
}

.nav-tabs .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
}

/* end tab css*/
.search-card{
    box-shadow: 0px 0px 40px #0000002E!important;
    border-radius: 15px!important;
}
.search-title{
    font-size: 50px;
    padding-bottom: 15px;
}
.search-sub-title{
    color: #7A7979;
}
.form-search{
    padding-bottom: 30px;
    display: inline-block;
    margin: 0 auto;
}
.search-btn{
    padding-bottom: 30px;
}
.pseudo-search {
    display: inline;
    border: 1px solid #B6B6B6;
    border-radius: 100px;
    padding: 10px 15px;
    transition: background-color 0.5 ease-in-out;
}

.pseudo-search input {
    border: 0;
    background-color: transparent;
    width: 460px;
    color: #607d8b;
}

.pseudo-search input:focus {
    outline: none;
}

.pseudo-search button,
.pseudo-search i {
    border: none;
    background: none;
    cursor: pointer;
}

.pseudo-search select {
    border: none;
}

.form-search-btn {
    margin-top: 30px;
    width: 105px;
    border: 1px solid #11a64a;
    background: #11a64a;
    color: #fff;
    padding: 4px 25px;
    border-radius: 25px;
}

.ui-menu::-webkit-scrollbar {
    width: 5px;
}

.ui-menu::-webkit-scrollbar-thumb {
    background: #ced6e0;
    border-radius: 10px;

}

.ui-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Shine */
    .hero-bottom {
        background: #056336;
        height: 60px;
        text-align: center;
        color: #fff;
        line-height: 60px;
    }
    .hero-bottom p{
        font-size: 20px;
        font-weight: 500;
    }
  .shine {
    font-size: 3em;
    margin: 0 auto;
    margin-bottom: 1em;
    font-weight: bold;
  }
  
  .hero-bottom .shine {
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
  }
  
  @-webkit-keyframes shine {
    0%, 10% {
      background-position: -1000px;
    }
    20% {
      background-position: top left;
    }
    90% {
      background-position: top right;
    }
    100% {
      background-position: 1000px;
    }
  }


/*payment section css*/
.divide-div {
    height: 80vh;
    margin: 100px 0px;
}

.divide-div .objective {
    background: #11A64A;
    border-radius: 20px;
    height: 80vh;
    /* align-items: center; */
}

.divide-div .objective-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
    color: #fff;
}

.objective-desc {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
}

.divide-div .learn-more-title {
    position: absolute;
    left: 70px;
    bottom: 90px;
    color: #fff;
}


.hero-bottom p {
    color: #fff;

}
.payment-lock {
    background: #ffffff;
    padding: 20px;
    border-radius: 25px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-section {
    text-align: center;
    background: #fff;

}
.carousel-section {
    height: 80vh;
    background: #F6F6F6;
}

.carousel-section p {
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
    color: #000;
    text-align: center;
}


.carousel-section .container {
    overflow: hidden;
}

.first-slide .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
}

.first-slide .slider .logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
}

.first-slide .slider .logos .fab {
    width: calc(100% / 5);
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.second-slide .slider {
    animation: slidein 23s linear infinite;
    white-space: nowrap;
}

.second-slide .slider .logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
}

.second-slide .slider .logos .fab {
    width: calc(100% / 5);
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide-bg {
    background: #fff;
    padding: 13px 45px;
    /*margin: 0 20px;*/
    display: inline-block;
    border-radius: 10px;
    margin-right: 60px;
}

.project-management-section .row {
    background: #1774FF;

}

.project-management-section .project-management-right-section {
    background: #175CC3;
    border-radius: 30px;
}

.varified-agencies-left-section {
    background: #056336;
    border-radius: 30px;

}

/*Testimonial*/

.post-project-section {
    margin-bottom: 50px;
}

.pp-content p {
    font-size: 26px;
    color: #11A64A;
    margin-bottom: 25px;

}
.pp-content h2 {
    font-weight: 600;
    font-size: 2.75rem;
    padding-bottom: 50px;
}

.post-project-section .img-fluid {
    border-radius: 10px;
    padding-bottom: 50px;
}

.post-project-section .solid-btn {
    display: inline-block;
}

.client-says {
    font-size: 18px;
    color: #11A64A;
    margin-top: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}
.client-name{
    font-size: 24px;
    font-weight: 600;
}

.testimonial-section .img-fluid {
    border-radius: 10px;
}



/*Home custom css*/


 @import url(http://weloveiconfonts.com/api/?family=entypo);

[data-icon]:after {
  font-family: "entypo";
  content: attr(data-icon);
  speak: none;
}
/*input[type="search"] {
  width: 196px;
  height: 36px;
  padding: 0;
  line-height: 32px;
  background: #56e2c9;
  color: #fff;
  border: 0;
  font: bold 14px/20px "Arial", sans-serif;
  text-indent: 12px;
  outline: none;
  -webkit-appearance: textfield;
}*/
/*{
    border: 0;
    background-color: transparent;
    width: 315px;
}
{
display: inline;
border: 2px solid #ccc;
border-radius: 100px;
padding: 10px 15px;
}*/
input[type="search"]::-webkit-input-placeholder {
  color: transparent;
}
input[type="search"]::-moz-input-placeholder {
  color: transparent;
}
input[type="search"]:-ms-input-placeholder {
  color: transparent;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  width: 32px;
  height: 32px;
  line-height: 30px;
  color: white;
  text-align: left;
  cursor: pointer;
}
input[type="search"]::-webkit-search-cancel-button:before, input[type="search"]::-webkit-search-results-button:before, input[type="search"]::-webkit-search-results-decoration:before {
  position: absolute;
  content: 'x';
  font-style: normal;
}
input[type="search"]:invalid {
  border: 0 !important;
}
input[type="search"]:invalid::-webkit-search-cancel-button:before, input[type="search"]:invalid::-webkit-search-results-button:before, input[type="search"]:invalid::-webkit-search-results-decoration:before {
  font-family: "entypo";
  content: attr(data-icon);
}
input[type="search"] + label {
  position: absolute;
  margin: 1px 0 0 -25px;
  cursor: pointer;
}
input[type="search"] + label:before {
  position: absolute;
  content: 'Search...';
  left: -430px;
  width: 180px;
  color: #B6B6B6;
  /*font: bold 14px/20px "Arial", sans-serif;*/
  text-align: left;
  cursor:text;
}
input[type="search"] + label:after {
  margin-left: 7px;
  color: #B6B6B6;
  content: '\25BE';
}

input[type="search"]:focus::-webkit-input-placeholder {
  font-weight: normal;
  color: #B6B6B6;
}
input[type="search"]:focus::-moz-input-placeholder {
  font-weight: normal;
  color: #fff;
}
input[type="search"]:focus:-ms-input-placeholder {
  font-weight: normal;
  color: #fff;
}
input[type="search"]:focus:invalid + label:before {
  display: none;
}
input[type="search"]:focus:invalid + label:after {
  margin-left: 4px;
  content: attr(data-icon);
}
input[type="search"]:valid + label {
  display: none;
}

.ui-autocomplete {
  width: 190px;
  max-height: 180px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ffff;
  color: #fff;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #B6B6B6!important;
}
.ui-autocomplete ul {
  list-style: none;
}
.ui-autocomplete li {
  height: 36px;
  margin: 0;
  font: bold 14px/36px Arial, Helvetica, sans-serif;
  white-space: nowrap;
}
.ui-autocomplete li:hover {
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  background: #11a64a;;
  color: #fff;
  /*font-weight: 400;*/
}
.ui-autocomplete li a:hover {
color: #fff;
 font-weight: 600;
}
.ui-autocomplete li a {
  display: block;
  padding: 0 12px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}



/* Responsive */

@media only screen and (max-width: 600px) {
    .pseudo-search input {
        width: 250px;
    }
    .search-title{
        font-size: 26px;
        padding-bottom: 10px;
    }
    .form-search{
        padding-bottom: 15px;
    }
    .hero-bottom p{
        font-size: 16px;
    }
    .divide-div{
        height: auto;
    }
    .divide-div .objective{
        height: auto;
    }
    .divide-div .objective-title{
        margin-top: 0;
        font-size: 36px;
    }
    .divide-div .learn-more-title{
        bottom: 0;
        padding-bottom: 20px;
    }

    .carousel-section {
        height: auto;
        padding-bottom: 30px;
    }

    .carousel-section .slide-bg {
        padding: 13px 35px;
    }

    .carousel-section img {
        width: 40px;
    }

    .carousel-section .section-title {
        font-size: 28px;
    }

    .pp-content h2 {
        font-size: 1.25rem;
    }

    input[type="search"] + label:before {
    left: -220px;
   }


}

