.hero-section {
    min-height:82.5vh;
    background: #11A64A;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.nav-link a{
    color: #000;
}

.nav-item .nav-link{
    margin-right: 1.5rem;
    color: #000;
}

/*tab css*/

.nav-tabs {
    border-bottom: 2px solid rgba(108, 117, 125, .2);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #11a64a;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs li a.active {
    border-bottom: 1px solid #11A64A !important;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.nav-tabs li a {
    border-color: transparent !important;
    padding: 0.625rem1.25rem;
}

.nav-tabs .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    width: 100%;
}

/* Hero slider */
.hero-section{
    display: inherit;
 }
/*  .third-hero-slide .slide-bg{
    background: #98c7aa  !important;
 } */

 .hero-section .slide-bg {
    background: #fff;
    padding: 13px 25px;
margin-right: 55px;
}

/* Search Card */

.search-card{
    box-shadow: 0px 0px 40px #0000002E!important;
    border-radius: 15px!important;
    margin-top: -20px;
}
.search-title{
    font-size: 50px;
    padding-bottom: 15px;
}
.search-sub-title{
    color: #7A7979;
}

.wrapper .search-input{
    background: #fff;
    width: 75%;
    margin: 0 auto;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6px 30px -10px #d5dbed;
  }
  
  .search-input input{
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    font-size: 18px;
    box-shadow: 0 6px 30px -10px #d5dbed;
  }
  
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    position: absolute;
    background: #fff;
    width: 540px;
    z-index: 2;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
  }
  
  .autocom-box li{
    list-style: none;
    padding: 8px 15px;
    display: none;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    text-align: left;
    color: #a4b0be;
  }
  
  .search-input.active .autocom-box li{
    display: block;
  }
  .autocom-box li:hover{
    background: #caffde40;
  }
  
  .search-input .icon{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 20px;
    color: #056336;
    cursor: pointer;
  }

.search-input input[type="text"]{
    color: #a4b0be;
    font-weight: 500;
    font-size: 16px;
  }  
.search-input input[type="text"]::placeholder {
    color: #ced6e0;
    font-size: 15px;
} 

.form-search-btn {
    margin-top: 30px;
    width: 120px;
    border: 1px solid #11a64a;
    background: #11a64a;
    color: #fff;
    padding: 4px 25px;
    border-radius: 25px;
}

.ui-menu::-webkit-scrollbar {
    width: 5px;
}

.ui-menu::-webkit-scrollbar-thumb {
    background: #ced6e0;
    border-radius: 10px;

}

.ui-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Shine */
    .hero-bottom {
        background: #056336;
        /* background: #242424; */
        height: 60px;
        text-align: center;
        color: #fff;
        line-height: 60px;
    }
    .hero-bottom p{
        font-size: 24px;
        font-weight: 500;
    }
  .shine {
    font-size: 3em;
    margin: 0 auto;
    margin-bottom: 1em;
    font-weight: bold;
  }
  
  .hero-bottom .shine {
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    color: rgba(255, 255, 255, 0.7);
    -webkit-background-clip: text;
    -webkit-animation-name: shine;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
  }
  
  @-webkit-keyframes shine {
    0%, 10% {
      background-position: -1000px;
    }
    20% {
      background-position: top left;
    }
    90% {
      background-position: top right;
    }
    100% {
      background-position: 1000px;
    }
  }


/*payment section css*/
.divide-div {
    min-height: 80vh;
    margin: 100px 0px;
}

.divide-div .objective {
    background: #11A64A;
    border-radius: 20px;
    min-height: 80vh;
    /* align-items: center; */
}

.divide-div .objective-title {
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;
    color: #fff;
}

.objective-desc {
    color: #fff;
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
}

.divide-div .learn-more-title {
    position: absolute;
    left: 70px;
    bottom: 90px;
    color: #fff;
}


.hero-bottom p {
    color: #fff;

}
.hero-card-section{
    position: absolute;
    top: -370px;
    width: 100%;
}
.payment-lock {
    background: #ffffff;
    padding: 20px;
    border-radius: 25px;
    /*height: 100%;*/
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-section {
    text-align: center;
    /* background: #fff; */

}
.carousel-section {
    padding-top:100px;
    padding-bottom: 120px;
    background: #f2f6f7;
}

.carousel-section p {
    font-size: 17px;
    font-weight: 400;
    margin-top: 18px;
    color: #000;
    text-align: center;
}


.carousel-section .container {
    overflow: hidden;
}

/* slick Slider */

.dirbtn {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background: #222;
    color: #fff;
  }
  .slick-slide {
      width: 120px;
      height: 100px;
  }
  .dirbtn:hover {
    background: #eee;
    color: #222;
    cursor: pointer;
  }
  .constant-simple-slider {
    margin: 0 auto;
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  .constant-simple-slider img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin: auto;
  }
  .constant-simple-slider .slick-list {
    margin: 0;
  }
  .constant-simple-slider .slick-prev {
    left: 0;
  }
  .constant-simple-slider .slick-next {
    right: 0;
  }
  .constant-simple-slider .slick-prev:before,
  .constant-simple-slider .slick-next:before {
    color: #222;
  }
  
  
  .constant-simple-slider_second {
    margin: 0 auto;
    margin-bottom: 0px !important;
  }
  .constant-simple-slider_second img {
    max-width: 100%;
    width: auto;
    max-height: 100%;
    margin: auto;
  }
  .constant-simple-slider_second .slick-list {
    margin: 0;
  }
  .constant-simple-slider_second .slick-prev {
    left: 0;
  }
  .constant-simple-slider_second .slick-next {
    right: 0;
  }
  .constant-simple-slider_second .slick-prev:before,
  .constant-simple-slider_second .slick-next:before {
    color: #222;
  }


.first-slide .slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
}

.first-slide .slider .logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
    opacity: 0.8;
}

.first-slide .slider .logos .fab {
    width: calc(100% / 5);
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.second-slide .slider {
    animation: slidein 23s linear infinite;
    white-space: nowrap;
}

.second-slide .slider .logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
    opacity: 0.8;
}

.second-slide .slider .logos .fab {
    width: calc(100% / 5);
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.third-slide .slider {
    animation: slidein 27s linear infinite;
    white-space: nowrap;
}

.third-slide .slider .logos {
    width: 100%;
    display: inline-block;
    margin: 0px 0;
    opacity: 0.8;
}

.third-slide .slider .logos .fab {
    width: calc(100% / 5);
    animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.slide-bg {
    /* background: #fff; */
    padding: 13px 45px;
    display: inline-block;
    border-radius: 10px;
    margin-right: 60px;
}

.project-management-section .row {
    background: #1774FF;

}

.project-management-section .project-management-right-section {
    background: #175CC3;
    border-radius: 30px;
    padding: 10px;
}

/* .varified-agencies-left-section {
    background: #056336;
    border-radius: 30px;

} */

/*Testimonial*/

.post-project-section {
    margin-bottom: 50px;
}

.pp-content p {
    font-size: 26px;
    color: #11A64A;
    margin-bottom: 25px;

}
.pp-content h2 {
    font-weight: 600;
    font-size: 2.75rem;
    padding-bottom: 50px;
}

.post-project-section .img-fluid {
    border-radius: 10px;
    padding-bottom: 50px;
}

.post-project-section .solid-btn {
    display: inline-block;
}

.client-says {
    font-size: 18px;
    color: #11A64A;
    margin-top: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid #ccc;
}
.client-name{
    font-size: 24px;
    font-weight: 600;
}

.testimonial-section .img-fluid {
    border-radius: 10px;
}



/*Home custom css*/





/* Responsive */

@media only screen and (max-width: 600px) {

    /* BG Slider */

    .first-slide,.second-slide,.third-slide{
        display: none;
    }

    /* Search Bar */

    .wrapper .search-input{
        width: 96%;
    }

    /* Search Drop Down */
    .search-input.active .autocom-box{
        width: 100%;
    }

    /* Lock Section */

    .payment-lock{
        min-height: 0vh;
    }
    .lock-img{
        height: 318px;
    }
    /* Footer */

    .ltn__copyright-design p{
        text-align:center;
        font-size:14px;
    }
    .ltn__copyright-menu ul{
        text-align:center;
        font-size:12px;
    }
    .hero-card-section{
        width: auto;
    }
    .pseudo-search input {
        width: 250px;
    }
    .search-card{
        margin-right: 25px;
        margin-top: 360px;
    }
    .search-title{
        font-size: 26px;
        padding-bottom: 10px;
    }
    .form-search{
        padding-bottom: 15px;
    }
    .hero-bottom p{
        font-size: 16px;
    }
    .divide-div{
        height: auto;
    }
    .divide-div .objective{
        height: auto;
    }
    .divide-div .objective-title{
        margin-top: 0;
        font-size: 36px;
    }
    .divide-div .learn-more-title{
        bottom: 0;
        padding-bottom: 20px;
    }

    /* .carousel-section {
        height: auto;
        padding-bottom: 30px;
    }
 */
    .carousel-section .slide-bg {
        /* padding: 13px 35px; */
        margin-right: -48px;
    }

    .carousel-section img {
        width: 77px;
    }

    .carousel-section .section-title {
        font-size: 28px;
    }

    .pp-content h2 {
        font-size: 1.25rem;
    }

    .slick-slide{
        height: auto;
    }

}

