:root{
    --text-color: #242424;
    --text-color-secondary: #515151;
    --green: #11A64A;
    --dark-green:#056336;
    --blue:#1774FF;
    --dark-blue:#175CC3;
    --white:#ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: var(--text-color);
  line-height: 26px;
}

a {
    text-decoration: none;
    color: #5c727d;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

p {
    color: #5c727d;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.plr--5 {
    padding-left: 5%;
    padding-right: 5%;
}
.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.section-title{
    color: var(--text-color)!important;
    font-weight: bold;
    margin-top: 50px;
    font-size: 50px;
}

/* Navbar */
.solid-btn {
    padding: 0 24px!important;
    height: 44px;
    font-size: 15px;
    background: var(--green);
    color: var(--white)!important;
    font-weight: 500;
    border: 1px solid var(--green);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 1;
}

/* Footer */
.footer-top-area {
    padding-top: 92px;
    padding-bottom: 20px;
}
.section-bg-1 {
    background-color: #f2f6f7;
}

.footer-widget {
    margin-bottom: 60px;
}
.footer-logo {
    position: relative;
    top: -10px;
}
.site-logo {
    min-width: 185px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
}

.footer-address ul {
    margin: 0;
    padding: 0;
}
.footer-address ul li {
    list-style: none;
    display: block;
    margin-top: 8px;
}
.footer-address ul li .footer-address-icon {
    float: left;
    margin-right: 15px;
}
.footer-address ul li .footer-address-icon i{
    color:#5c727d;
}
.footer-address ul li .footer-address-info {
    overflow: hidden;
}
.footer-address ul li:after {
    display: block;
    clear: both;
    content: "";
}

.ltn__social-media ul {
    margin: 0;
    padding: 0;
}
.ltn__social-media ul li {
    list-style: none;
    display: inline-block;
    margin: 0 15px 0 0;
}
.footer-widget {
    margin-bottom: 60px;
}
.footer-widget .footer-title {
    font-size: 22px;
    margin-bottom: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
.footer-menu ul {
    margin: 0;
    padding: 0;
}
.footer-menu ul li {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 15px;
    position: relative;
}
.footer-menu ul li:hover a {
    padding-left: 20px;
}
.footer-menu ul li a {
    position: relative;
    color: #5c727d;
    text-decoration: none;
}
.footer-menu ul li a:hover{color: #0a9a73;}
.footer-menu ul li:hover a::before {
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}
.footer-menu ul li a::before {
    position: absolute;
    content: "//";
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    opacity: 0;
    visibility: hidden;
    margin-left: -20px;
    color: #0A9A73;
}

.footer-newsletter form {
    position: relative;
}
.footer-newsletter input[type="email"] {
    margin: 0;
    background-color: #ffffff;
    border: 2px solid;
    border-color: #e4ecf2;
    height: 65px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 20px;
    font-size: 16px;
    color: #5C727D;
    width: 100%;
    border-radius: 0;
    padding-right: 50px;
    
}
.footer-widget > h5{
    font-family: 'Josefin Sans', sans-serif;
}
.footer-newsletter .btn-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 100%;
}
.footer-newsletter .btn-wrapper .btn {
    padding: 0 18px;
    height: 100%;
}
.btn:last-child {
    margin-right: 0;
}
.btn {
    border-radius: 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--ltn__heading-font);
    padding: 17px 35px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    z-index: 1;
    margin-right: 15px;
}
.theme-btn-1 {
    background-color: #0A9A73;
    color: #ffffff;
}
.ltn__copyright-area {
    padding-top: 25px;
    padding-bottom: 25px;
}
.ltn__copyright-design p {
    color: #fff;
}

.section-bg-7 {
    background-color: #171b2a;
}
.text-end {
    text-align: right!important;
}
.ltn__copyright-menu ul {
    margin: 0;
    padding: 0;
}
.ltn__copyright-menu ul li {
    list-style: none;
    display: inline-block;
    margin-top: 0;
    margin-right: 20px;
    font-size: 14px;
    font-family: var(--ltn__heading-font);
    font-weight: 600;
}
.ltn__copyright-menu ul li a {
    margin: 0;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}


/* Scrollbar */
/* ::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #82C424;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
} */
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  


@media only screen and (max-width: 600px) {
    .navbar-light .navbar-toggler{
        border-color: #fff;
    }
    .section-title{
        font-size: 28px;
    }
    .navbar-nav{
        flex-direction: inherit;
    }
}